<div id="user-page">
  <div class="btn-container">
    <div class="home-link-container">
      <%= link_to "Home", root_path, class: "home-link2" %>
    </div>
    <div class="back-link-container">
      <%= link_to "Back", :back, class: "back-link2" %>
    </div> 
  </div>
</div>
